<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>These songs were saved</h1>

<h2>Add your songs to the list!</h2>
<form method="POST" action="/song">
    <input type="text" placeholder="Song Title" name="songTitle">
    <input type="text" placeholder="Album Artist" name="album">
    <input type="number" placeholder="Song Count" name="songLength">
    <input type="number" placeholder="Album Length" name="trackNumber">
    <button type="submit">Submit Your Song</button>
</form>

<div th:each="data : ${allSongs}">
    <h2 th:text="${data.songTitle}">Song Title</h2>
    <h3 th:text="${data.album}">Album</h3>
    <p th:text="'Song Length in Seconds: ' + ${data.songLength}">Song Length</p>
    <p th:text="'Track Number: ' + ${data.trackNumber}">Track Number</p>


</div>
</body>
</html>